
:root {
  --color-white: #fff;
  --color-dark: #000;
  --color-primary: #78dbff;
  --color-secound: #c2a3ff;
  --color-third: #94f2ba;
  --color-fourth: #ffd787;
  --color-fifth: #f2c9c7;
  --color-six: #f9f9f9;
  --color-siven: #9A9A9A;
  --body-color: #0000001A;
  --body-sec-color: #000000B2;
}

.offcav_button {
  color: white;
  font-family: regular;
}
.offcanvas-end {
  width: 630px;
}
.new_visit_pop .offcanvas-header {
  background-color: #000000b2;
  color: #94f2ba;
}
.new_visit_pop .offcanvas-header h5 {
  font-size: 1.2rem;
  font-family: bold;
  text-transform: capitalize;
}
.new_visit_pop .offcanvas-header .btn-close {
}
.new_visit_pop .offcanvas-body .content{
  margin-bottom: 20px;
}
.new_visit_pop .offcanvas-body .main_head {
  font-size: 14px;
  border-radius: 0;
  text-transform: capitalize;
}
.new_visit_pop .offcanvas-body .kid_head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.new_visit_pop .offcanvas-body .kid_head .btn{
  background-color: #000000b2;
  color: white;
  font-size: 1rem;
}
.new_visit_pop .offcanvas-body .input-group {
  margin-bottom: 1%;
  width: 100%;
}

.new_visit_pop .offcanvas-body .input-group .form-label {
  font-size: 14px;
}
.new_visit_pop .offcanvas-body  .form-control{
border-radius: 0 !important;
height: 30px;
}
.new_visit_pop .offcanvas-body   table thead{
background-color: #cecece;
height: 40px;

}
.new_visit_pop .offcanvas-body   table thead th{
    font-family: "regular";
}
.new_visit_pop .offcanvas-body   table thead .custom_width{
width: 10%;
}
.new_visit_pop .offcanvas-body   table textarea{
    min-height: 30px !important;
    height: 30px !important;
}
.new_visit_pop .offcanvas-body   table tbody td{
    padding: 20px 5px;
}
.new_visit_pop .offcanvas-body   table tbody  .trach_row{
  cursor: pointer;
}
.new_visit_pop .offcanvas-body   table tbody  .trach_row i{
  color: red;
}
#paymentRow .form-control{
  height: 40px;
  }
  .button_add{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 10px;
  }
 .button_add .btn{
    background-color: #000000b2;
    color: white;
    font-size: 1rem;
  }
  .all-order .upper_visit{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .all-order .upper_visit .first_sec{
    display: flex;
    flex-direction: row;
    /* gap: 20px; */
    width: 45%;
    justify-content: space-between;
  }
  .all-order .upper_visit .first_sec .item{
    border-right: 1px solid #000;
    padding-inline-end: 3%;

  }

  .all-order .upper_visit .first_sec .item h5{
    font-size: 1rem;
    color: #4c4c4c;
    font-family: 'bold';
    text-transform: capitalize;
  }
  .all-order .upper_visit .first_sec .item .info i{
    color: var(--color-third) ;
  }
  .all-order .upper_visit .first_sec .item .info span{
    font-size: 14px;
    font-family: 'regular';
    color: #000;
  }
  .tabs_button {
    display: inline-flex;
    width: 48%;
    flex-direction: row;
    gap: 20px;
    
  }
  .tabs_button li{
   
    padding: 10px;
  }
  .tabs_button li.active a{
   background-color: transparent;
   border: 1px solid var(--color-third);
  }
  .tabs_button li a {
    color: #000;
    font-size: 1rem;
    font-family: 'bold';
    background-color: var(--color-third);
  }
  .tab_button{
    display: inline-flex;
    justify-content: flex-end;
    width: 48%;
    gap: 20px;
  }
  .tab_button li a{
    color: #000;
    font-size: 1rem;
    font-family: 'bold';
  }
  .table_visit thead{
    background-color: #cecece;
    color: #000;
  }
  .table_visit thead th{
    color: #000 !important;
    font-size: 15px !important;
  }
  .table_visit tbody td{
   color: #292929 !important ;
  }
  .second_sec{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 55%;
  align-items: end;
  }
  .second_sec .form-label{
    font-size: 14px;
  }
  .second_sec .date{
    display: flex;
    width: 60%;
    gap: 15px;
  }

  .second_sec .select_sec{
    width: 30%;
  }
  .second_sec .select_sec .form-control{
   
  }
  .second_sec .expprt{
width: 8%;
display: flex;
flex-direction: row;
i{
  color: var(--color-third);
  font-size: 1rem;
}
a{
  text-decoration: underline;
  font-size: 14px;
  font-family: 'bold';
  color: #000;
}
  }