@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css");
:root {
  --color-white: #fff;
  --color-dark: #000;
  --color-primary: #78dbff;
  --color-secound: #c2a3ff;
  --color-third: #94f2ba;
  --color-fourth: #ffd787;
  --color-fifth: #f2c9c7;
  --color-six: #f9f9f9;
  --color-siven: #9A9A9A;
  --body-color: #0000001A;
  --body-sec-color: #000000B2;
}

.darkmode {
  --color-white: #222;
  --color-dark: #fff;
  --color-primary: #c4e9ff;
  /* Lighter shade of blue */
  --color-secound: #e6d9ff;
  /* Lighter shade of purple */
  --color-third: #b1ffd5;
  /* Lighter shade of green */
  --color-fourth: #fff3c7;
  /* Lighter shade of orange */
  --color-fifth: #f9e6e5;
  /* Lighter shade of red */
  --color-six: #d9d9d9;
  --color-siven: #424242;
  --body-color: #00000080;
  --body-sec-color: #000000E6;
}

@font-face {
  font-family: "light";
  src: url("../fonts/Quicksand-Light.ttf");
}
@font-face {
  font-family: "regular";
  src: url("../fonts/Quicksand-Regular.ttf");
}
@font-face {
  font-family: "medium";
  src: url("../fonts/Quicksand-Medium.ttf");
}
@font-face {
  font-family: "semi-bold";
  src: url("../fonts/Quicksand-SemiBold.ttf");
}
@font-face {
  font-family: "bold";
  src: url("../fonts/Quicksand-Bold.ttf");
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
  direction: ltr;
  height: 100vh;
  scroll-behavior: smooth;
  position: relative;
  background-color: var(--body-color);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

ul {
  list-style: none;
  padding: 0px;
}

p {
  margin-bottom: 0;
}

/* scroll bar */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--color-white);
}

*::-webkit-scrollbar-thumb {
  background: var(--color-third);
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--color-secound);
}

/* scroll bar */
.text {
  font-size: 1rem;
  color: var(--color-text);
  font-family: "meduim";
}

.parg {
  font-size: 1rem;
  color: var(--color-pargraph);
  font-family: "regular";
}

.button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 10px;
  width: 70%;
}
.button .first {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s all ease-in-out;
  background: var(--color-third);
  border-radius: 8px;
  font-size: 1rem;
  font-family: "medium";
  width: 70%;
  text-align: center;
  color: var(--color-white);
  position: relative;
  z-index: 10;
  padding: 1%;
}
.button .first:hover {
  background-color: var(--color-white);
  color: var(--color-third);
  border: 1px solid var(--color-third);
}

.button {
  display: flex;
  width: 100%;
}
.button .second {
  width: 30%;
  border-radius: 8px;
  font-size: 1rem;
  font-family: "medium";
  border: 1px solid var(--color-primary);
  text-align: center;
  color: var(--color-primary);
  position: relative;
  z-index: 10;
  padding: 1%;
  transition: 0.25s all ease-in-out;
}
.button .second:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.card_platform {
  background-color: var(--color-six);
  border-bottom: 3px solid var(--color-text);
  border-radius: 5px;
  padding: 7% 3%;
  position: relative;
}
.card_platform h4 {
  color: var(--color-text);
  font-size: 1.2rem;
  font-family: "bold";
}
.card_platform p {
  color: var(--color-secound);
  font-size: 1rem;
  font-family: "regular";
}

.header {
  position: relative;
}
.header img {
  width: 100%;
  height: 250px;
  background-size: cover;
}
.header .text {
  position: absolute;
  text-align: start;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  top: 15%;
  bottom: 0;
  left: 0;
  right: 8%;
}
.header .text h2 {
  color: var(--color-white);
  font-size: 3.3rem;
  font-family: "bold";
}
.header .text ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 2%;
}
.header .text ul li {
  padding-inline-end: 1%;
}
.header .text ul li i {
  color: var(--color-white);
  font-size: 1.5rem;
}
.header .text ul li a {
  color: var(--color-white);
  font-size: 1.8rem;
  font-family: "regular";
}

.main_head {
  text-align: start;
  padding: 10px 20px;
  border-radius: 15px;
  width: 100%;
  background-color: rgba(148, 242, 186, 0.4);
  font-size: 1.8rem;
  font-family: "bold";
  color: var(--color-dark);
}

.main_title {
  position: relative;
  text-align: start;
  padding: 10px 20px;
  border-radius: 15px;
  width: 100%;
  background-color: rgba(var(--color-third), 0.4);
}
.main_title h2 {
  font-size: 1.8rem;
  font-family: "bold";
  color: var(--color-dark);
}
.main_title p {
  font-size: 0.9rem;
  font-family: "regular";
  color: var(--color-pargraph);
  line-height: 2;
}

.sec_title {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2% 19%;
}
.sec_title span {
  font-size: 1rem;
  color: var(--color-secound);
  font-family: "light";
}
.sec_title h2 {
  font-size: 1.8rem;
  font-family: "bold";
  color: var(--color-text);
  margin-bottom: 3%;
}
.sec_title p {
  font-size: 0.9rem;
  font-family: "regular";
  color: var(--color-pargraph);
  line-height: 2;
}

.input-group {
  position: relative;
  margin-bottom: 3%;
  width: 70%;
}
.input-group .icon_form {
  position: absolute;
  left: 0.3rem;
  top: 58%;
  z-index: 1000;
}
.input-group .icon_form i {
  font-size: 1.2rem;
  color: #b7b7b7;
}

form .file-upload-wrapper {
  position: relative;
  width: 100%;
  height: 150px;
  border: 1px dashed var(--color-primary);
  border-radius: 5px;
  font-family: "regular";
}

form .file-upload-wrapper::after {
  content: attr(data-text);
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(var(--color-fifth), 0.04);
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 40px);
  pointer-events: none;
  z-index: 20;
  height: 100%;
  width: 100%;
  line-height: 40px;
  color: var(--color-text);
  border-radius: 5px 10px 10px 5px;
  font-weight: 300;
}

form .file-upload-wrapper input {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
  width: 100%;
}

.form-label {
  width: 100%;
  font-size: 1.3rem;
  color: var(--color-dark);
  font-family: "semi-bold";
}

.form-control {
  border-radius: 2px;
  padding-inline-start: 4%;
  background-color: transparent;
  color: var(--color-pargraph);
  font-family: "regular";
  border: 1px solid var(--color-siven);
  border-radius: 8px !important;
}
.form-control:focus {
  box-shadow: none !important;
  border-color: var(--color-pargraph) !important;
}
.form-control::placeholder {
  color: var(--color-text);
  font-family: "light" !important;
  font-size: 0.9rem;
}

.bootstrap-select > .dropdown-toggle {
  background-color: transparent;
  border: unset;
}

.bs-searchbox .form-control {
  border-radius: 8px;
}

.bootstrap-select .dropdown-menu li a {
  font-size: 0.8rem;
  color: var(--color-text);
  font-family: "light";
}

.bootstrap-select .dropdown-menu li a:active {
  background-color: rgba(var(--color-dark), 0.05);
}

.bootstrap-select .dropdown-menu li.selected {
  background-color: rgba(var(--color-dark), 0.05);
}

.bootstrap-select .dropdown-menu li.selected a {
  color: var(--color-secound);
}

.input-group .bootstrap-select.form-control .dropdown-toggle {
  color: var(--color-text);
  text-align: left;
  background-color: transparent;
  border-color: var(--color-six);
}

.bootstrap-select .dropdown-toggle .filter-option {
  text-align: right !important;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
  outline: unset !important;
  outline-offset: unset !important;
  outline-style: hidden !important;
}

.bootstrap-select .dropdown-menu {
  text-align: right;
}

.bootstrap-select.show-tick .dropdown-menu li a span.text {
  margin-right: 10px !important;
  font-size: 1.1rem;
  font-family: "medium";
  color: var(--color-pargraph);
}

textarea {
  height: 50px !important;
}

textarea.form-control {
  padding-left: 2%;
}

.form-select,
.bootstrap-select {
  border-radius: 8px !important;
  border: 1px solid var(--color-siven);
  padding: 0.375rem 2.25rem 0.375rem 1.4rem;
  font-family: "regular";
  background-color: transparent;
  color: var(--iconcolor);
  background-position: right;
  position: relative;
  width: 100% !important;
}
.form-select:focus,
.bootstrap-select:focus {
  box-shadow: unset !important;
}

.btn:focus,
.form-check-input:focus,
.form-check :focus,
.btn-check:focus + .btn,
.btn-close:focus,
.accordion-button:focus,
.btn-light:active:focus {
  box-shadow: none;
}

.form-check .form-check-input {
  float: right;
  margin-left: 5px;
}
.form-check .form-check-input:checked {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.form-check .form-check-label {
  font-size: 1rem;
  font-family: "regular";
  color: var(--color-text);
}

input[type=data] {
  color: var(--color-secound);
  font-family: "regular";
}
input[type=data]::placeholder {
  content: "";
}

/* delete arrow from input number */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* delete arrow from input number */
#preloader {
  background-image: url(../image/Spin-2.1s-191px.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  background-size: 15%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1100;
}

/* finish preloader */
/* start button up */
#button {
  display: inline-block;
  background-color: var(--color-primary);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  bottom: 40px;
  left: 30px;
  transition: background-color 0.5s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  border: 1px solid var(--color-fourth);
  animation: move-toggs 3s linear infinite;
}
#button::after {
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: var(--color-primary);
}
#button i {
  color: var(--color-white);
  margin: auto;
  font-size: 22px;
  transition: 0.3s all;
}
#button:hover {
  background-color: var(--color-text);
  cursor: pointer;
}
#button:hover i {
  color: var(--color-white);
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

@keyframes move-toggs {
  0% {
    bottom: 40px;
  }
  25% {
    bottom: 20px;
  }
  50% {
    bottom: 10px;
  }
  75% {
    bottom: 20px;
  }
  100% {
    bottom: 40px;
  }
}
/* finish button up  */
/* start sidebar */
@keyframes show-drop {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* finish sidebar */
.sidebar {
  position: fixed;
  min-height: 100vh;
  height: 100%;
  padding: 2% 1%;
  background-color: var(--body-sec-color);
  text-align: center;
  margin-bottom: 10%;
  transition: 0.25s all ease-in-out;
}
.sidebar .logo {
  width: 70%;
  height: 138px;
  margin: 3% 0;
}
.sidebar .logo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.sidebar .menu-side-bar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 3% 0% 1% 2%;
  margin: 24% 0 8%;
}
.sidebar .menu-side-bar .side-item {
  width: 100%;
  margin-bottom: 10%;
  padding-inline-start: 2%;
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: start;
  flex-direction: column;
}
.sidebar .menu-side-bar .side-link.active {
  color: var(--color-primary);
  background-color: rgba(191, 140, 109, 0.08);
  border-radius: 8px;
  color: var(--color-fourth);
}
.sidebar .menu-side-bar .dropdown-btn.active {
  color: var(--color-third);
  background-color: rgba(var(--color-third), 0.05);
  border-radius: 8px;
}
.sidebar .menu-side-bar .side-link {
  font-size: 1rem;
  width: 100%;
  font-family: "semi-bold";
  color: var(--color-third);
  position: relative;
  padding: 4%;
  transition: 0.25s all ease;
}
.sidebar .menu-side-bar .side-link:hover {
  color: var(--color-primary);
  background-color: rgba(var(--color-primary), 0.05);
  border-radius: 8px;
}
.sidebar .menu-side-bar .side-link i {
  font-size: 16px;
  margin-inline-end: 3%;
}
.sidebar .menu-side-bar .dropdown-btn {
  font-size: 1rem;
  width: 100%;
  font-family: "semi-bold";
  color: var(--color-third);
  position: relative;
  padding: 4%;
  transition: 0.25s all ease;
}
.sidebar .menu-side-bar .dropdown-btn:hover {
  color: var(--color-fourth);
  background-color: rgba(191, 140, 109, 0.08);
  border-radius: 8px;
}
.sidebar .menu-side-bar .dropdown-btn i {
  font-size: 16px;
  margin-inline-end: 3%;
}
.sidebar .menu-side-bar .dropdown-btn.actives {
  color: var(--color-fourth);
  background-color: rgba(var(--color-fourth), 0.05);
}
.sidebar .dropdown-btn.active span {
  transform: rotateZ(-90deg);
}
.sidebar .dropdown-container {
  display: none;
  background-color: transparent;
  font-family: inherit;
  color: inherit;
  flex-direction: column;
  animation: show-drop 1s;
  animation-direction: alternate;
  width: 100%;
  padding-top: 3%;
  text-align: center;
  border-radius: 10px;
}
.sidebar .dropdown-container .side-link {
  margin-bottom: 5%;
}
.sidebar .active {
  background-color: inherit;
  color: var(--background2);
}

.dropdown-btn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 0;
}
.dropdown-btn span {
  position: absolute;
  right: 5px;
  transition: 0.25s all ease;
}

.lower_footer {
  padding: 2% 0;
  background-color: var(--color-dark);
  position: relative;
  z-index: 100;
}
.lower_footer p {
  text-align: center;
  color: var(--color-white);
  font-family: "regular";
}

.upper_section {
  background-color: var(--body-sec-color);
  padding: 2% 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.upper_section .time {
  display: flex;
  width: 30%;
  align-items: center;
}
.upper_section .time span {
  font-size: 1.3rem;
  color: var(--color-white);
  font-family: "regular";
  width: 20%;
}
.upper_section .time div {
  font-size: 1.2rem;
  font-family: "regular";
  color: var(--color-third);
}
.upper_section .info {
  text-align: end;
  padding-inline-end: 5%;
  width: 30%;
}
.upper_section .info img {
  border-radius: 50%;
  border: 3px dashed var(--color-third);
  width: 70px;
  height: 70px;
  padding: 1%;
}
.upper_section .info h6 {
  display: inline-block;
  color: var(--color-third);
  font-size: 1.2rem;
  font-family: "regular";
}

#tableOrder_filter,
#tableOrder_length {
  padding: 5% 1%;
}

#tableOrder_filter label,
#tableOrder_length label {
  color: var(--color-primary);
  font-family: "regular";
}

#tableOrder_length select {
  color: var(--color-fourth);
  font-family: "regular";
}

table.dataTable.display tbody tr.odd > .sorting_1,
table.dataTable.system-column.stripe tbody tr.odd > .sorting_1 {
  background-color: var(--background) !important;
  color: var(--color-secound);
}

table.dataTable.display tbody tr.even > .sorting_1,
table.dataTable.system-column.stripe tbody tr.even > .sorting_1 {
  background-color: var(--background2) !important;
}

table.dataTable.no-footer {
  border-bottom: none !important;
}

.dataTables_wrapper .dataTables_info {
  font-family: "light" !important;
  font-size: 11px !important;
  color: var(--color-siven) !important;
  padding-left: 4% !important;
  padding-top: 5% !important;
}

.dataTables_wrapper {
  background-color: var(--background2);
  border-radius: 10px;
  margin-bottom: 5%;
}

.dataTables_wrapper .dataTables_paginate {
  float: none !important;
  text-align: center !important;
  padding-top: 2.25em !important;
  padding-bottom: 2.25em !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
  font-family: "regular" !important;
  color: var(--color-third) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  border-color: 1px solid var(--color-secound) !important;
  font-family: "regular" !important;
  background: var(--color-third) !important;
  color: var(--color-white) !important;
}

order .all-order {
  margin: 5%;
  background-color: var(--color-white);
  padding: 3%;
  border-radius: 8px;
}
order .all-order .dataTables_filter {
  margin-bottom: 15px;
}

.system .all-order {
  margin: 3%;
  background-color: var(--color-white);
  padding: 1%;
  border-radius: 8px;
}
.system .all-order .dataTables_length {
  margin-bottom: 15px;
}

.all-order h2 {
  font-size: 1.4rem;
  color: var(--color-dark);
  font-family: "regular";
}
.all-order .table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.all-order .table tbody td span {
  font-size: 10px;
  padding: 2% 2%;
  border-radius: 13px;
}
.all-order .table tbody tr {
  border-bottom: 1px solid var(--color-siven);
}
.all-order .table tbody tr:last-child {
  border-bottom: none;
}
.all-order .table tbody tr:nth-child(even) {
  background-color: rgba(var(--color-primary), 0.05);
}
.all-order .table td {
  border: none;
  text-align: start;
  font-family: "regular";
  font-size: 15px;
  padding: 10px;
  color: var(--color-secound);
  background-color: rgba(var(--color-third), 0.05);
}
.all-order .table td .edit i {
  color: var(--color-third);
  font-size: 1rem;
}
.all-order .table td .trash {
  cursor: pointer;
}
.all-order .table td .trash i {
  color: var(--color-fourth);
  font-size: 1rem;
}
.all-order .table th {
  background-color: rgba(var(--color-third), 0.05);
  color: var(--color-primary);
  font-family: "medium";
  border: none;
  font-size: 20px;
}

/* data table */
.upper_section_res {
  display: none;
}

.system .main {
  padding: 3% 2%;
  margin: 4% 0;
  border-radius: 8px;
}

.system .main h2 {
  font-size: 32px;
  color: var(--color-dark);
  font-family: "bold";
}

.system .main .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 5% 1%;
  box-shadow: 0px 1px 6px rgba(110, 110, 110, 0.16);
  border-radius: 10px;
  transition: 0.25s all ease;
  border-color: transparent;
  margin-bottom: 4%;
}

.system .main .card:hover {
  transform: scale(1.07);
}

.system .main .card img {
  width: 50px;
  height: 50px;
}

.system .main .card .text {
  margin-inline-start: 4%;
}

.system .main .card h5 {
  font-size: 16px;
  font-family: "medium";
  color: var(--color-siven);
}

.system .main .card h6 {
  font-size: 18px;
  font-family: "semi-bold";
}

.system .statistics {
  margin-top: 5%;
}

#myChart {
  background-color: var(--background2);
  border-radius: 8px;
}

.system .statistics .chart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  background-color: var(--background2);
  padding: 4% 2%;
  border-radius: 8px;
}

.system .statistics .chart h6 {
  font-family: "semibold";
  color: var(--color-six);
  font-size: 16px;
}

.system .statistics .chart p {
  font-size: 12px;
  font-family: "regular";
}

.system .statistics .chart p span {
  font-family: "bold";
}

.system .statistics .chart p img {
  margin-left: 2%;
}

.system .statistics .chart .img {
  width: 100%;
  height: 120px;
}

.create_admin {
  margin: 5%;
  background-color: var(--color-white);
  border-radius: 8px;
  padding: 3%;
}
.create_admin form {
  padding: 2% 8%;
}
.create_admin form .input-group-upload {
  width: 20%;
}
.create_admin form .input-group-upload .profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50% !important;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid var(--color-third);
}
.create_admin form .input-group-upload .upload-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 50% !important;
  border: 1px solid var(--color-third);
  width: 45px;
  height: 45px;
  bottom: 0;
  right: 8%;
  cursor: pointer;
}
.create_admin form .input-group-upload .upload-icon i {
  color: var(--color-dark);
  font-size: 1.5rem;
}
.create_admin form .input-group-upload .hidden {
  display: none;
}

.regular_visit {
  background-color: var(--color-white);
  margin: 5%;
  padding: 3%;
  border-radius: 8px;
}
.regular_visit .parent_detilas {
  margin: 4% 0;
}
.regular_visit .parent_detilas p {
  color: var(--color-dark) 0;
  font-size: 1rem;
  font-family: "bold";
  cursor: pointer;
  text-align: center;
}
.regular_visit .parent_detilas p i {
  font-size: 1.2rem;
}
.regular_visit .parent_detilas .input-group .form-control {
  padding-inline-start: 7%;
}
.regular_visit .parent_detilas .input-group .remove-icon {
  color: red;
  margin: 5px 6px;
}
.regular_visit .parent_detilas .input-group textarea {
  width: 100%;
  border-radius: 8px !important;
}
.regular_visit .parent_detilas .input-group-width {
  width: 86%;
}
.regular_visit .parent_detilas .form-check {
  width: 15%;
  padding-left: 0;
}
.regular_visit .parent_detilas .form-check .form-check-input {
  float: left;
  margin-inline-end: 3%;
}
.regular_visit .parent_detilas .form-check .form-check-label {
  font-size: 1.2rem;
  color: var(--color-dark);
  font-family: "bold";
}
.regular_visit .parent_detilas .add_row {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.regular_visit .parent_detilas .add_row i {
  font-size: 1.8rem;
  color: var(--color-third);
}

.remove_row {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: end;
  cursor: pointer;
}
.remove_row i {
  font-size: 2rem;
  color: red;
}

.row_det {
  border-bottom: 1px solid var(--color-six);
  padding: 3% 0;
}
.row_det:last-child {
  border-bottom: unset;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form {
  padding: 40px;
  border-radius: 8px;
  background-color: var(--color-white);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.login-form h3 {
  font-family: "bold";
}
.login-form .form-group {
  margin: 5% 0;
  position: relative;
}
.login-form .form-group .lock-icon {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 56%;
  display: flex;
  justify-content: center;
  width: 30px;
  height: 100%;
}

.lottie {
  width: 100%;
  height: 600px;
}

.tabs_visis {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2% 0;
}
.tabs_visis li {
  background-color: var(--color-third);
  width: 30%;
  margin-inline-end: 3%;
  padding: 10px;
  border-radius: 19px;
  text-align: center;
  transition: 0.25s all ease-in-out;
}
.tabs_visis li:hover {
  background-color: var(--color-dark);
}
.tabs_visis li:hover a {
  color: var(--color-third);
}
.tabs_visis li a {
  font-size: 1.2rem;
  color: var(--color-dark);
  font-family: "regular";
  transition: 0.25s all ease-in-out;
}
.tabs_visis li.active {
  background-color: var(--color-dark);
}
.tabs_visis li.active a {
  color: var(--color-third);
}

span.check,
span.closed {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  padding: 5px !important;
  font-size: 0.8rem !important;
  color: var(--color-white);
}

span.check {
  background-color: var(--color-third);
}

span.closed {
  background-color: red;
}

.accordion {
  margin: 4% 0;
}
.accordion .accordion-item {
  border: none;
  margin-bottom: 3%;
}
.accordion .accordion-button {
  background-color: var(--color-third);
  color: var(--color-white);
  border-radius: 19px !important;
}

.input-group .form-control {
  padding-inline-start: 7%;
}
.input-group .remove-icon {
  color: red;
  margin: 5px 6px;
}
.input-group textarea {
  width: 100%;
  border-radius: 8px !important;
}

.input-group-width {
  width: 86%;
}

.form-check {
  width: 15%;
  padding-left: 0;
}
.form-check .form-check-input {
  float: left;
  margin-inline-end: 3%;
}
.form-check .form-check-label {
  font-size: 1.2rem;
  color: var(--color-dark);
  font-family: "bold";
}

.add_row {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.add_row i {
  font-size: 1.8rem;
  color: var(--color-third);
}

.btn.add {
  border: 1px solid var(--color-third);
  background-color: var(--color-third);
}

.diseab_child {
  width: 74%;
  margin-bottom: 3%;
}

.affd {
  background-color: forestgreen;
}

/* start dark && light mood */
#toggle {
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transform: scale(0.9);
  transition: 0.5s;
  border: 1px solid var(--color-primary);
  background-color: transparent;
  z-index: 999;
  animation: move-togg 3s linear infinite;
  background-color: var(--foreground);
}
#toggle .dark {
  display: block;
}
#toggle .light {
  display: none;
}
#toggle .bi-brightness-high,
#toggle .bi-moon-fill {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 25px;
  transition: 0.25s;
}
#toggle .bi-brightness-high:hover,
#toggle .bi-moon-fill:hover {
  opacity: 0.5;
}
#toggle .bi-brightness-high {
  color: #ff8800 !important;
}
#toggle .bi-moon-fill {
  color: var(--color-third) !important;
}

@keyframes move-togg {
  0% {
    bottom: 30px;
  }
  25% {
    bottom: 45px;
  }
  50% {
    bottom: 60px;
  }
  75% {
    bottom: 45px;
  }
  100% {
    bottom: 30px;
  }
}
#logoDark {
  display: none;
}

.information {
  margin: 3% 0;
}
.information .tab_info {
  width: 30%;
  padding: 4% 0;
}
.information .tab_info .nav-link {
  border: 1px solid var(--color-third);
  background-color: var(--color-white);
  font-size: 1rem;
  font-family: "regular";
  transition: 0.25s all ease-in-out;
  color: var(--color-dark);
  margin-bottom: 3%;
  border-radius: 15px;
}
.information .tab_info .nav-link:hover {
  border: 1px solid var(--color-third);
  font-family: "bold";
  background-color: rgba(148, 242, 186, 0.34);
}
.information .tab_info .nav-link.active {
  border: 1px solid var(--color-third);
  font-family: "bold";
  background-color: rgba(148, 242, 186, 0.34);
}
.information .tab-content {
  padding-inline-start: 3%;
  padding-top: 4%;
  padding-bottom: 4%;
}
.information .tab-content .tab-pane .box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.information .tab-content .tab-pane .box .card {
  width: 45%;
  margin-inline-end: 2%;
  margin-bottom: 2%;
}

.copmrision {
  margin: 3% 0;
}
.copmrision .tab-content {
  width: 60%;
}
.copmrision .tab-content #myChart1 {
  width: 100% !important;
}
.copmrision .nav {
  width: 30%;
  padding-inline-start: 4%;
  margin: 3% 0;
}
.copmrision .nav .nav-link {
  border: 1px solid var(--color-third);
  background-color: var(--color-white);
  font-size: 1rem;
  font-family: "regular";
  transition: 0.25s all ease-in-out;
  color: var(--color-dark);
  margin-bottom: 3%;
  border-radius: 15px;
}
.copmrision .nav .nav-link:hover {
  border: 1px solid var(--color-third);
  font-family: "bold";
  background-color: rgba(148, 242, 186, 0.34);
}
.copmrision .nav .nav-link.active {
  border: 1px solid var(--color-third);
  font-family: "bold";
  background-color: rgba(148, 242, 186, 0.34);
}

.selling_unites {
  margin: 3% 0;
}

.parent_visit {
  margin: 3% 0;
}

/* finish dark && light  */
.container_page {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.container_page .sidebar {
  height: 100%;
  width: 20%;
}
.container_page .contect_side {
  width: 80%;
  margin-inline-start: 20%;
}

.sidebar.collapsed {
  width: 20% !important;
  transition: all 0.3s ease;
  display: none;
  /* Initially hide the first sidebar */
}

.sidebar.show {
  /* Show the first sidebar when the "show" class is added */
}

.sidebar_resize {
  width: 6% !important;
  transition: 0.25s all ease-in;
}

.toggle_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-third);
  color: var(--color-dark);
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 10px;
  transition: 0.25s all ease-in;
  border-radius: 10px;
}

.toggle_menu:hover {
  background-color: #e4f0f2;
}

.contect_side.change {
  width: 94%;
  transition: 0.25s all ease-in;
  margin-inline-start: 6%;
}

.sidebar.sidebar_resize .logo {
  width: 100%;
  height: 49px;
  object-fit: cover;
  transition: 0.25s all ease-in;
}
.sidebar.sidebar_resize .menu-side-bar {
  margin-top: 70px;
}
.sidebar.sidebar_resize .menu-side-bar .side-link {
  font-size: 0.6rem;
}
.sidebar.sidebar_resize .toggle_menu {
  width: 29px;
  height: 32px;
}

.modal_checkout .modal-dialog {
  max-width: 830px;
}
.modal_checkout .modal-dialog .modal-content .modal-body p {
  color: var(--color-siven);
  font-size: 1rem;
  font-family: "light";
  text-transform: capitalize;
}
.modal_checkout .modal-dialog .modal-content .modal-body p span {
  color: var(--color-dark);
  font-family: "regular";
  font-size: 1.2rem;
}
.modal_checkout .modal-dialog .modal-content .modal-body h2 {
  font-size: 1.3rem;
  color: var(--color-dark);
  font-family: "bold";
  text-transform: capitalize;
  margin-top: 3%;
}
.modal_checkout .modal-dialog .modal-content .modal-body .input-group .first {
  border: 1px solid var(--color-third);
  margin-inline-start: 4%;
  font-size: 1rem;
  font-family: "regular";
}

table.dataTable.display tbody tr.odd > .sorting_1,
table.dataTable.system-column.stripe tbody tr.odd > .sorting_1 {
  color: var(--color-dark);
}

.all-order .checkout p {
  color: var(--color-siven);
  font-size: 1rem;
  font-family: "light";
  text-transform: capitalize;
}
.all-order .checkout p span {
  color: var(--color-white);
  font-family: "regular";
  font-size: 1.2rem;
  background-color: var(--color-third);
  border-radius: 10px;
  padding: 3px;
}
.all-order .checkout h2 {
  font-size: 1.3rem;
  color: var(--color-dark);
  font-family: "bold";
  text-transform: capitalize;
  margin-top: 3%;
}
.all-order .checkout .input-group .first {
  border: 1px solid var(--color-third);
  margin-inline-start: 4%;
  font-size: 1rem;
  font-family: "regular";
}

table.dataTable thead th, table.dataTable thead td {
  color: var(--color-dark);
}

.box_budget {
  margin: 3% 0;
}
.box_budget h6 {
  background-color: var(--color-third);
  color: var(--color-white);
  padding: 2%;
  border-radius: 10px;
  display: inline-block;
  font-size: 1.2rem;
  font-family: "regular";
}
.box_budget span {
  display: inline-block;
  margin-inline-start: 3%;
  color: var(--color-dark);
  font-size: 1.2rem;
  font-family: "bold";
}

.checkout_page .input-group .form-check-input {
  background-color: var(--color-third);
  border-color: var(--color-third);
}
.checkout_page .input-group i {
  color: var(--color-third);
  font-size: 1rem;
}
.checkout_page .input-group .form-check-label {
  color: var(--color-dark);
  font-size: 1rem;
  font-family: "regular";
}

.ui-datepicker-trigger {
  background-color: var(--color-third);
  color: var(--color-white);
  border: 1pc solid var(--color-third);
  border-radius: 10px !important;
  font-family: "regular";
  margin-top: 10px;
  padding: 1px;
  height: 55px;
}/*# sourceMappingURL=main.css.map */